.menu__item{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    background-color: rgba(0,0,0,.3);
    color:#fff;
}
.menu__item:nth-child(4n-2) .menu__info, .menu__item:nth-child(4n-1) .menu__info{
    order:-1;
}

.menu__image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        transition: .3s all;
        width: auto;
        height: 100%;
    }
    &:hover img{
        transform: scale(1.2);
    }
}
.menu__icon{
    position: absolute;
    width: 40px;
    right: 10px;
    top: 10px;
}
.menu__info{
    padding: 20px 45px 20px 20px;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.menu__title{
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color:#fff;
}
.menu__category, .menu__price{
    color:gray;

    span{
        color:#fac564;
    }
}
.menu__btn{
    color:#fff;
    cursor: pointer;
    border:1px solid #fff;
    padding: 5px 15px;
    font-family: "Poppins", sans-serif;
    background-color: rgba(0,0,0,0);
    transition: .3s all;
    &:hover{
        background-color: #fac564;
        border:1px solid #fac564;
        color:#000;
    }
}